# Change name with env.base when edit
OPENCLAW_IMAGE=xenv1-openclaw:latest
OPENCLAW_GATEWAY_BIND=lan
OPENCLAW_DOCKER_SOCKET=/var/run/docker.sock

OPENROUTER_API_KEY=API_KEY
TELEGRAM_BOT_TOKEN=TOKEN
TELEGRAM_ALLOW_FROM=NUMBER
